## Latest commit containing bad words 😆

Committed in repo [{{ repo }}](https://github.com/{{ repo }}), I wrote:

**{{ message }}**

Let's take a [look](https://github.com/{{ repo }}/commit/{{ hash }}) 🤔

<sub>[how does this work](https://github.com/pvinis/pvinis/blob/master/README_ACTUAL.md)</sub>

## Some of my work
- [FINISH HIM !!](https://finish-h.im)
- [My "tech radar"](https://radar.thoughtworks.com/?sheetId=https%3A%2F%2Fraw.githubusercontent.com%2Fpvinis%2Ftech-radar%2Fmain%2Ftech-radar.csv)
